 /*样式重置*/
body,ul,p,h1,h2,h3,h4,d1,dd,form,input,textarea,select{
    margin: 0;
    font-family: arial;
    padding: 0;   /*一个英文字体*/
}
li{                         
     list-style: none; /*去掉点*/
}

img{
    border: none;        /*图片无边框*/
}
a{
    text-decoration: none;     /*去掉链接的下划线*/
}
a:hover{text-decoration: underline;}
 /*样式重置*/
/*背景颜色*/
 body{
      background:#fff url(4.png) repeat-x;
 }
 /*背景颜色*/

  /*左边导航*/
 #top{width: 960px; height: 30px; margin: 0 auto;}
 .top_menu{ float: left;}
 .top_menu li{ float: left;  font-size: 13px;line-height: 30px;padding-right: 18px;margin-right: 15px;}
 .top_menu a{color: #c0c0c0;}
.top_menu a:hover{color: #c0c0c0;}
.top_menu .no_dot{background: none;}
  /*左边导航*/

/*右边导航*/
.top_bar{ float:right;}
.top_bar li{ float:left;height: 30px;
color: #fff; font-weight:bold;font-size: 13px;line-height: 30px;padding-left:35px; }
.top_bar .phone{background: url(7.png) no-repeat 4px -1px;}
.top_bar .help{background:url(7.png) no-repeat 0 -31px; }
.top_bar .help a{color: #fff;}
.top_bar .space{margin-right: 12px;}
/*右边导航*/


/*头部*/
#header{width: 960px;height: 100px; margin: 0 auto;
position: relative;background: url(16.png)}
#shopping{width: 260px;height: 100px;background: url(15.png) 
no-repeat;position: relative;}
#shopping p{color: #f7f7f7; font-size:20px; 
font-family:arial; padding: 30px 0 0 84px;}
#shopping a{ display:block;width: 114px;height: 23px;background: url(15.png)
 no-repeat 0 -100px;position: absolute;
top:63px;left: 104px;font-size: 15px;color: #ffc200;text-decoration: none;
font-weight: bold;text-align: center;line-height: 23px;}
#header h1{width: 238px;position: absolute;top:0;left:50%;
margin-left:-119px;}
#header .search{top: 33px;right:0;}
.search{width: 292px;height: 31px; background: url(17.png)
no-repeat;position: absolute;}
.search .text{position: absolute; top: 0; left: 20px; 
width: 230px;height: 30px;
background: none;border: none;
font-size: 13px;color: #666;
outline: none;}
.search .btn{position: absolute;top: 0;left: 0; 
widows: 42px;float: left;
background: none;border: none;height: 30px;}
/*头部*/

/*导航栏*/
#nav{height: 444px;width: 960px;height: 28px;padding-top: 8px;margin: 0 auto;}
#nav li{float: left;height: 28px;margin-right: 2px;}
#nav a{float: left;height: 28px;
text-decoration: none;color: #fff;font-size: 14px;font-family: arial;
line-height: 28px;}
#nav strong{float: left;height: 28px;font-weight: normal;}
#nav span{float: left;height: 28px;
padding: 0 16px;}
#nav  a:hover,#nav .active a {background: url(18.png) repeat-x 0 -56px;}
#nav  a:hover strong,#nav .active strong{background: url(18.png)no-repeat;}
#nav  a:hover span,#nav .active span{background: url(18.png) no-repeat right -28px;}
/*导航栏*/


/*白色阴影实现*/
#content{width: 1000px;margin: 24px auto 0;background: url(19.png)
repeat-y -1000px 0;}
#content_top{widows: 1000px;background: url(19.png)
 no-repeat;}
#content_bottom{width: 1000px;background: url(19.png)
no-repeat -2000px bottom;padding-top:10px; }
/*白色阴影实现*/

/*头部广告栏*/
#ad{width: 940px;height: 300px;position: relative;
margin: 0 auto;}
#ad ul{position: absolute;top: 0; left: 0;z-index: 1;}
#ad li{position: absolute;top:0;left: 0;}
#ad h2{position: absolute;left: 0;bottom:9px;z-index: 3;width: 268px;
text-align: center;font-size: 25px;color: #ffc600;}/*PRODUCT TITLE标签*/
#ad p{position: absolute;left: 268px;bottom:7px;z-index: 3;
color: #fcc;font-size:13px;line-height: 16px;width: 630px;}
#ad .bg{width: 940px;height: 52px;background: #000; 
filter:alpha(opacity-80);opacity: 0.8;position: absolute;bottom:0;left:0;
z-index: 2;}
/*头部广告栏*/
 
/*设置30px的空白距离*/
#main{width: 942px;margin: 0 auto;padding-top:30px; }
#side{width: 210px;float: left;}
#wrap{width: 706px;float:right;}

.clear::after{content: "";display:table;clear: both; }/*清除浮动*/
/*设置30px的空白距离*/

/*BRWSE菜单栏*/

/*BRWSE菜单栏的背景*/
.module_menu{margin-bottom: 12px;}

.module_menu h2{height: 29px;font-size: 15px;line-height: 28px;
color: #fff; text-align: center; background: url(20.png)
repeat-x 0 -58px;margin-bottom: 1px;}
.module_menu h2 strong{display: block; height: 29px;
background: url(20.png) no-repeat;}/*strong span 使用时必须要有高度*/
.module_menu h2 span{ display: block;height: 29px;
background: url(20.png) no-repeat right -29px;}
/*BRWSE菜单栏的背景*/

/*BRWSE菜单栏的表格及文字*/
.list{background: url(21.png) repeat-y ;}
.list ul{background: url(21.png) no-repeat -210px bottom;
padding: 18px 8px 15px;}
.list a{display: block;height:27px ;line-height:27px;
border-bottom:1px solid#fff; color: #434343;text-decoration:
none;font-weight: bold;font-size: 12px; padding:left 32px;
text-align: center;}
.list a:hover{border-bottom: 1px solid #b20e00;
background: #fae191;color: #b20e00}
/*BRWSE菜单栏的表格及文字*/


/*BRWSE菜单栏*/


/*Join图标*/
.module_join{width: 210px;background: url(21.png)
repeat-y -630px 0;}
.module_join_t{background: url(21.png) no-repeat
-420px 0;}
.module_join_b{background: url(21,png) -840px bottom;}


.join_form{width: 180px;margin: 0 auto 12px;}
.join_form p{font-size: 15px;color:#666;line-height: 18px;
padding: 12px 0;}
.join_form .text{width: 175px;height: 25px;line-height: 25px;
background:#fff; border: 1px solid #fff;border-top:1px solid#9c9c9c;
border-left: 1px solid #c0c0c0; margin-bottom: 6px; }
.join_form .btn{width: 88px;height: 25px;border: none;font-size: 15px;
color: #fff;font-weight: bold;background: url(22.png) no-repeat 0 -145px;
margin: 0 auto;display: block;}
/*Join图标*/


/*Join下面的list*/
.join_list{width: 194px;margin: 0 auto;background: url(23.png)
no-repeat 10px -204px;height: 150px;}
.join_list li{border-top:1px solid #fff;padding-left: 62px;
color: #434343;font-size: 13px;}
.space1{height: 45px;line-height: 50px;}
.space2{height:38px;padding-top: 5px;line-height: 18px;}
.space3{height: 45px;line-height: 18px;padding-top: 5px;}
/*Join下面的list*/

/*payment*/
#payment{margin: 33px 0 0 18px;}
 /*payment*/

 /*sort by菜单栏*/
.sort{height: 20px; }
.sort dl{float: left;}
.sort dt{float: left;font-size: 12px; color: #747474;font-weight: bold;
padding-right: 2px;}
.sort dd{float: left; widows:109px ;height: 19px; position: relative;
margin-right:12px;}
.sort h2{width: 108px;height: 14px; border: 1px solid #ccc;
font-size: 12px; color: #747474;font-weight: normal;text-indent:5px;}
.sort a{position: absolute;top:0;left:90px;width: 19px;height: 19px;
background: url(26.png) 0 -368px;z-index: 2;}
.sort a:hover{background: url(26.png) -19px -368px;position: absolute;top: 0;left: 90px;width: 19px;height: 19px;}
.sort ul{width: 108px;border: 1px solid#ccc;background: #fff;
position: absolute;top: 18px;left: 0;z-index: 1;display: none;}
.sort li{font-size: 12px;line-height: 20px;text-indent: 5px;
cursor: pointer;}
.sort .active{background: #099;color: #fff;}
.sort p{float: right;color: #747474;font-size: 12px;}
.sort p strong{color: #999;}
.sort p span{padding: 0 5px;} 
.color_style{color: #b20e00;}
 /*sort by菜单栏*/


 .pic_list { width: 706px; overflow: hidden; }
 .pic_list  h2, #scroll_list h2{ height: 56px; line-height: 62px; overflow: hidden; font-size: 18px; color: #666; }
 .pic_list ul { width:736px;}
 .pic_list li { float: left; width: 182px; height: 200px; }
 .pic_list a { display: block; width: 154px; height: 114px; border: 1px solid #c6c6c6; margin-bottom: 7px; }
 .pic_list a:hover { border: 1px solid #663; }
 .pic_list h3 { font-size: 15px; color: #666; line-height: 16px; }
 .pic_list p { font-size: 13px; color:#333; line-height: 16px; }
 .pic_list span { color: #b20e00; }
  
 .page { text-align: center; border-bottom: 1px solid #cdcdc8;padding: 5px; }
 .page a { display: inline-block; height: 20px; line-height: 20px; padding: 0 7px;  color: #b20e00; text-decoration: none; font-size: 12px;}
 .page a:hover,.page .active { color: #fff; background: #b20e00; }
 .page span {  font-family: '宋体' }
 
 .scroll_wrap { height: 196px; background: url(27.gif) repeat-x 0 -478px;}
 .scroll_wrap_l { height: 196px; background: url(27.gif)  no-repeat 0 -86px; }
 .scroll_wrap_r { height: 196px; background: url(27.gif)  no-repeat right -282px; position: relative; }
 .prev, .next { width: 35px; height: 43px; position: absolute; top:70px ; }
 
 .prev { left:0 ; background: url(27.gif) no-repeat; }
 .next { right:0 ; background: url(27.gif) no-repeat 0 -43px;  }
 
 .list_wrap { width: 615px; padding-top:32px; height: 150px; margin: 0 auto;}
 .list_wrap ul { height: 150px;}
 .list_wrap li { width: 205px; float: left; }
 .list_wrap a, .list_wrap p { width: 145px; margin: 0 auto ;}
 .list_wrap a { display: block; height: 100px; }
 .list_wrap p { line-height: 14px; padding-top: 10px; font-size: 12px; color: #600; text-align: center; }
 
 #bottom { width: 1349px; height: 304px; background: url(28.png) repeat-x ;margin: 0 auto; position: relative; }
 
 .bottom_top { width: 1349px; height: 60px; margin:0; position: relative; }
 .bottom_top li { float: left; width: 300px; height: 60px; font-size: 14px; color: #cbcbcb; font-weight: bold; line-height: 60px; padding-left: 55px;  }
 .bottom_top .shield { background: url(29.png) no-repeat 0 6px; margin-left: 200px; }
 .bottom_top .box { background: url(29.png) no-repeat 0 -51px; }
 .bottom_top .search { float: right; position:absolute; top: 15px; right: 195px; }
 
 .bottom_st li { font-size: 15px; color: #fff; font-weight: bold; float: left; }
 .bottom_st .cy { position: absolute; top: 96px; left: 216px; }
 .bottom_st .cs { position: absolute; top: 96px; left: 410px; }
 .bottom_st .in { position: absolute; top: 96px; left: 616px; }
 .bottom_st .sk { position: absolute; top: 96px; left: 800px; }
 .bottom_st .cu { position: absolute; top: 96px; left: 982px; }

 .bottom_c1 li { font-size: 13px; color: #cfcfcf; padding-bottom: 6px;  position: absolute; left: 216px; }
 .bottom_c1 .mt { top:136px; }
 .bottom_c1 .rs { top:156px; }
 .bottom_c1 .ts { top:176px; }
 .bottom_c1 .be { top:196px; }
 .bottom_c1 .f { top:216px; }
 
 .bottom_c2 li { font-size: 13px; color: #cfcfcf ; padding-bottom: 6px; position: absolute; left: 410px}
 .bottom_c2 .l{ top:136px; }
 .bottom_c2 .a{ top:156px; }
 .bottom_c2 .ae{ top:176px; }
 .bottom_c2 .cs{ top:196px; }
 .bottom_c2 .d{ top:216px; }
 .bottom_c2 .anp{ top:236px; }
 

 .bottom_c3 li { font-size: 13px; color: #cfcfcf; padding-bottom: 6px;  position: absolute; left: 616px; }
 .bottom_c3 .mt { top:136px; }
 .bottom_c3 .rs { top:156px; }
 .bottom_c3 .ts { top:176px; }
 .bottom_c3 .be { top:196px; }
 .bottom_c3 .f { top:216px; }
 

 .bottom_c4 li { font-size: 13px; color: #cfcfcf; padding-bottom: 6px;  position: absolute; left: 800px; }
 .bottom_c4 .mt { top:136px; }
 .bottom_c4 .rs { top:156px; }
 .bottom_c4 .ts { top:176px; }
 .bottom_c4 .be { top:196px; }
 .bottom_c4 .f { top:216px; }
 

 .bottom_c5 li { font-size: 13px; color: #cfcfcf; padding-bottom: 6px;  position: absolute; left: 982px; }
 .bottom_c5 .p { top:136px; }
 .bottom_c5 .t { top:156px; }
 .bottom_c5 .f { top:176px; }
 .bottom_c5 .suae { top:196px; }
 .bottom_c5 .ms { top:236px; }
 .bottom_c5 .shc { top:256px; }